body {
  background-image: url("../assets/images/sun_clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background-color: rgba(0,0,0,0);
}

.card {
  opacity: 0.7;
}


#playlist-div, #calm-image-div {
  text-align: center;
}